<!DOCTYPE html>

<head>
	<title>Test</title>
</head>


<body>
	<!--
	<form action="http://localhost/codeIgniter3/index.php/ControllerFile/rename" method="POST">
		<label for="path">PathSrc : </label>
		<input type="text" name="path" id="path"><br>

		<label for="fileToRename">fileToRename : </label>
		<input type="text" name="fileToRename" id="fileToRename"><br>

		<label for="newName">newName : </label>
		<input type="text" name="newName" id="newName"><br>
		<input type="submit">
	</form>
	-->
	<br><br><br><br><br>
	<form action="http://localhost/codeIgniter3/index.php/ControllerDirectory/rmdir" method="POST">
		<label for="path">Path : </label>
		<input type="text" name="path" id="path"><br>
		<input type="submit">

	</form>
</body>
